@import 'bootstrap/dist/css/bootstrap.min.css';

@media (min-width: 992px) {
  .separator_line {
    border-right: 1px solid var(--bs-border-color);
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}